@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-bar: #EEF2FF;
    --nav-item: #C7D2FE;
    --nav-item-hover: #34D399;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 95%;
    margin: auto;
    width: 100%;
    display: block;
}

.nav-list-item {
    display: inline;
    font-size: 1rem;

}

.nav-link {
    color: black;
}

.navbar-brand {
    font-size: 2.5rem;
}

.link-item {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: 900;
}

.nav-list {
    text-align: right;
}

nav.nav-bar {
    background-color: var(--nav-bar);

    border-radius: 20px;
    padding: 1rem;
    border-radius: 5px;

}

.container-body {
    max-width: 90%;
    margin: auto;

}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

h2 {
    margin: 30px 0;

}

header {
    padding: 30px;

}

.image-file {
    max-width: 40%;
    margin: auto;
    display: block;

}

.card {


    padding: 30px;
    max-width: 60%;
    margin: auto;


}

.Projects {

    display: block;
    padding: 10px;
    background-color: #F3F4F6;
    border-radius: 10px;
    margin-top: 60px;
    text-align: center;



}

.tech {


    display: block;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: var(--nav-item);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border: none;
    font-weight: bolder;

}

.btn {
    padding: 10px;
}

button:hover {
    background: linear-gradient(to right, green, yellow);
}

a {
    text-decoration: none;
    color: black;
}

.link-item:hover {
    color: #34D399;
}

footer.foot {
    background-color: var(--nav-bar);
    padding: 2rem;
    border-radius: 20px;
}

.foot-list {

    text-align: center;

}

.foot-list-item {
    display: inline;
    padding: 1rem;
}

.foot-link {
    color: black;
}

.foot-link:hover {
    color: #34D399;
}

@media (min-width:280px) and (max-width:440px) {
    .foot-list-item {
        display: block;
        padding: 1rem;

    }

    .nav-list {
        text-align: center;
        font-size: 10px;
    }
    .image-file{
       margin-top: 20vh;
      
    }
    .card{
        max-width: 100%;
    }
}

button.btn-play{
    background-color: transparent;
    border: 2px solid var(--nav-item);
}
@media (max-width:280px)
{
    button.btn-play{
        margin:5px;
    }
    .card{
        max-width: 100%;
    }
}