@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --nav-bar: #EEF2FF;
    --nav-item: #C7D2FE;
    --nav-item-hover:#34D399;
}
body{
    font-family: 'Montserrat', sans-serif;
}
li{
    display: inline;

}
a{
    text-decoration: none;
}
ul{
    text-align: right;
}
nav{
    background-color: var(--nav-bar);
    width: 600px;
    margin: auto;
    display: block;
}
@media (max-width:500px)
{
    nav{
        width: 375px;
        margin: auto;
        
    }
}