* {}

.image-profile {
    border-radius: 50%;

}
a.nav-link{
text-transform: uppercase;
}

.inner-profile {
    padding-top: 50px;
    border-radius: 16px;
    background-color: var(--nav-bar);
    font-weight: 800;
}

.profile {
    max-width: 30%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.profile-block {
    background-color: var(--nav-item);
    padding: 0.5rem;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.skill {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

.HTML {
    background-color: red;
    width: 85%;
    color: white;
    text-align: center;
    animation: myhtml 2s linear;

}

.css {
    background-color: rgb(130, 130, 243);
    width: 70%;
    color: white;
    text-align: center;
    animation: mycss 2s linear;
}

.js {
    background-color: rgb(221, 221, 41);
    width: 50%;
    color: white;
    text-align: center;
    animation: myjs 2s linear;
}

.react {
    background-color: rgb(41, 215, 221);
    width: 35%;
    color: white;
    text-align: center;
    animation: myreact 2s linear;
}




.net {
    background-color: rgb(48, 33, 43);
    width: 50%;
    color: white;
    text-align: center;
    animation: mynet 2s linear;
}

.java {
    background-color: rgb(157, 145, 158);
    width: 40%;
    color: white;
    text-align: center;
    animation: myjava 2s linear;
}



.B4 {
    background-color: rgb(135, 33, 167);
    width: 60%;
    color: white;
    text-align: center;
    animation: myb4 2s linear;
}
@media(min-width:0px) and (max-width:425px){

    .profile {
        max-width: 100%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
}
@media(min-width:425px) and (max-width:768px){

    .profile {
        max-width: 70%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
}
@media(min-width:768px) and (max-width:992px){

    .profile {
        max-width: 70%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
}
@keyframes myhtml {
    0% {width: 0%;}
    100% {width: 85%;}
  }
  @keyframes mycss {
    0% {width: 0%;}
    100% {width: 70%;}
  }
  @keyframes myjs {
    0% {width: 0%;}
    100% {width: 50%;}
  }
  @keyframes myreact {
    0% {width: 0%;}
    100% {width: 35%;}
  }
  @keyframes myb4 {
    0% {width: 0%;}
    100% {width: 60%;}
  }
  @keyframes mynet {
    0% {width: 0%;}
    100% {width: 50%;}
  }
  @keyframes myjava {
    0% {width: 0%;}
    100% {width: 40%;}
  }